name: Generate Snake Game
on:
  schedule:
    - cron: "0 0 * * *"  # auto
  workflow_dispatch:     # manual

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            assets/github-snake.svg?color_snake=purple
            assets/github-snake-dark.svg?palette=github-dark
            assets/snake.gif?color_dots=#ebedf0,#c6e48b,#40c463,#30a14e,#216e39
